@charset "ISO-8859-1";
.container{
	background-color:dodgerblue;
	width:100%;
	padding:20px;
	margin-top:20px;
}

form .input-group{
	border-radius:2px;
	padding:10px;
	margin:5px;
}

span{
	color:white;
}
span #title{
	font-size:25px;
	font-weight:bold;
	display:block;
	justify-content:center;
	align-Items:center;
}


form{
	display:flex;
	flex-direction:column;
}
form .check{
	display:flex;
	flex-direction:column;
}
form input{
	width:30%;
	background-color:none;
	height:25px;
	margin-left:30px;
}
form input #btn{
	color:white;
	font-weight:bold;
	font-size:20px;
}
